html 
{
    background-color: #531D9F;
    font-family: monospace;
}
  
  
  body 
  {
    width: 90%;
    background-color: #531D9F;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
  }
  
 
  h1 
  {
    color: black;
    text-align: left;
    font-family: monospace;
  }
  

 
  

a
{
    text-decoration: none;
    font-size: 25px;
    margin-right: 100%;
    color: black;
    font-family: monospace;
    font-style: initial;
}



 